html {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

html,
body,
div,
p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: normal;
}

a {
    background: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}
input, ins, img {
	vertical-align: middle;
	border:none;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, li {
	list-style: none;
	
}
.clear {
	clear: both;
}

body {
    background: #F4F5F6;
    color: #666666;
    line-height: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body.white {
    background: #ffffff;
}

html.hairlines div,
html.hairlines li,
html.hairlines a,
html.hairlines i,
html.hairlines header {
    border-width: 0.5px !important;
}

html .g-image-upload-box .upload-btn {
    border: 1px dashed #e3e3e3 !important;
}

a {
    color: #3278ee;
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
    border: none;
    font-size: 1.4rem;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    color: #333333;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
    outline: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
}

textarea {
    outline: none;
    border: none;
    resize: none;
    height: 90px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

input[type=text]:active,
input[type=password]:active,
textarea:active,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    border: none;
    background: #ffffff;
    outline: none;
}

/*::-webkit-input-placeholder {*/
    /*-webkit-text-fill-color: #bdbdbd;*/
/*}*/

/*::-moz-placeholder {*/
    /*color: #dddddd;*/
/*}*/

/*input:-ms-input-placeholder {*/
    /*color: #dddddd;*/
/*}*/

/*textarea:-ms-input-placeholder {*/
    /*color: #dddddd;*/
/*}*/
.box{
    max-width:640px;
    min-width: 320px;
    margin: auto;
    background-color:#F5F5F5;
}
.publish-article-title {
    background: #fff;
    padding:0 15px;
}
.publish-article-title input{ height: 30px; line-height: 30px;}
.publish-article-title hr{ width:100%; margin: auto; height: 1px; border: none; background-color: #CCCCCC;}
.title-tips {
    font-weight: bold;
    margin-bottom: 3px;
}

.publish-article-content {
    padding:10px 15px;
    background: #fff;
     border-bottom: 1px solid #CCCCCC;
}

.publish-article-content .article-content {
    padding:0 8px;
    height: 200px;
    border-bottom: 1px solid #ccc;
}
.article-content p{
     color:#919191;
}
.publish-article-content .footer-btn {
    text-align: center;
    padding-top: 10px;
}

.publish-article-content .footer-btn .upload-img {
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/img.png) 0 no-repeat;
    background-size: 100%;
}

.html100,
.html100 body {
    height: 100%;
    width: 100%;
}

.cl {
    clear: both;
}

.pull-left {
    float: left;
}

.footer-btn .pull-left {
    margin-right: 25px;
}

.imageUpload{
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    width: 100%;
}

.upload-box {
    position: relative;
}

.btn-check
{
  padding: 10px;
  text-align: center;
}
.btn-check .submit_btn
{
  background: #5cb85c;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
      display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.publish-article-title #title
{
  width: 100%
}

.Favorites{width:100%;position:fixed; background-color:#FFF; top:0; z-index:999999;max-width:640px;min-width: 320px; border-bottom:1px solid #D6D6D6;}
.fdiv{ float:left; width:13%; text-align:center; font-size:16px; height:50px; line-height:50px;}
.fdiv a{color:#039BE7;}
.bdiv{ float:left ; width:73%; text-align:center;height:50px; line-height:50px;}
.bdiv a{ color:#000; font-size:16px;}
.blank{ width:100%; height:50px;}

.margin_box{ width:100%; border-bottom:1px solid #CCCCCC; height:10px; }
.touch_box{ background-color:#FFF; padding:10px 0 10px 15px;  border-bottom:1px solid #CCCCCC;}
.touch_box input{ width:80%;}
.touch_box img{ width:20px; height:20px; padding-right:10px; }
.place_box{ padding:10px 0 10px 15px;  border-bottom:1px solid #CCCCCC; background:#ffffff url(../images/qj.png) no-repeat 95%; background-size:20px 20px;}
.place_box img{ width:20px; height:20px; padding-right:10px; }