* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

cite, em, i, b {
    font-style: normal;
    font-weight: normal;
}

input, ins, img {
    vertical-align: middle;
    border: none;
}

body, p, div, ul, li {
    padding: 0;
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
    font-family: 微软雅黑;
}

a {
    color: inherit;
    text-decoration: none;
}

.none {
    display: none;
}

/*===(清除浮动：开始)=====*/
.clearfix:after {
    content: ".";
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clearfix {
    display: block;
}

.clearfix {
    clear: both;
    zoom: 1;
}

/*===(清除浮动：结束)=====*/
.main {
    width: 100%;
}

/*点菜首页*/
.list_relative {
    width: 100%;
    position: relative;
    padding-left: 90px;
}

.list_menu {
    position: fixed;
    left: 0;
    top: 102px;
    color: #383a39;
    text-align: center;
    width: 80px;
    overflow-y: auto;
    background: #eceeed;
    height: 100%;
}

.list_menu .li {
    padding: 15px 5px;
    font-size: 13px;
    border-left: 5px solid #eceeed;
    position: relative;
}

.digit_box {
    border: 1px solid #F00;
    width: 16px;
    height: 16px;
    line-height: 13px;
    border-radius: 100px;
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #FFF;
    background-color: #FE4543;
}

.list_menu .li.on {
    border-left: 5px solid #f32442;
    color: #f32442;
    background: #FFF;
}

.list_box {
    padding-bottom: 45px;
}

.list_tile {
    font-size: 13px;
    padding: 10px;
    background: #eceeed;
    margin-top: 1px;
}

#list_tilex {
    margin-top: 10px;
}

.list_right {
    background: #FFF;
    width: 100%;
    padding: 5px;
}

.list_right .right_list {
    padding: 10px 0px 17px 0px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE;

}

.list_img {
    float: left;
    width: 80px;
}

.list_img img {
    width: 80px;
    height: 75px;
}

.right_list p {
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right_list b {
    color: #F32442;
    font-size: 14px;
}

.right_list .but {
    border: 2px solid #00F;
    position: absolute;
    top: 50px;
    right: 0;
    color: #868686;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    width: 40px;
    background: #e9e9e9;
    border-radius: 1rem;
    text-align: center;
    margin-top: 5px;
    border: none;
}

/*弹出*/
.cartpopup {
    width: 100%;
    background-color: #FFF;
    bottom: 50px;
    position: fixed;
    z-index: 99;
}

.cartpopup h4 {
    width: 95%;
    margin: auto;
    height: 40px;
    line-height: 40px;
}

.cartpopup h4 img {
    padding: 0 10px;
}

.cartpopup h4 span {
    font-size: 16px;
    font-weight: 100;
}

.cartpopup h4 button {
    border: 1px solid #F00;
    width: 50px;
    height: 30px;
    text-align: center;
    margin-left: 40%;
    border: none;
    background-color: #FFF;
}

.cartpopup h4 a {
    float: right;
    margin-top: 10px;
}

.cartpopup ul {
    border-top: 1px solid #DFDFDF;
    width: 100%;
}

.cartpopup ul li {
    width: 95%;
    margin: 10px auto;
    border-bottom: 1px solid #DFDFDF;
}

.cartpopup ul li p {
    float: left;
    font-size: 14px;
    line-height: 30px;
    width: 35%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cartpopup ul li span {
    font-size: 14px;
    line-height: 30px;
    float: left;
    width: 23%;
    text-align: center;
}

/*点菜首页 结束*/
.statement {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9;
    background: #FFF;
    box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
}

.statement ul {
}

.statement ul li {
    width: 25%;
    padding: 5px 0;
    float: left;
    text-align: center;
    font-size: 12px;
}

.statement ul li img {
    width: 25px;
    height: 25px;
}

.statement ul li span {
    display: block;
}

.statement ul li a {
    color: #505050;
}

.pitch_on a span {
    color: #F32442;
}

.plus {
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #FE4543;
    border-radius: 5px;
    font-size: 12px;
    color: #FFF;
    position: absolute;
    top: 50px;
    right: 0;
}

.fied {
    width: 100px;
    float: right;
}

/**遮罩**/
.shade {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    opacity: 0.8;
    bottom: 0;
    z-index: 8;
}

/**/
.personage {
    width: 30px;
    height: 30px;
    border: 2px solid #F82048;
    border-radius: 100px;
    position: fixed;
    right: 0;
    background-color: #FFF;
    bottom: 60px;
    z-index: 7;
}

.personage img {
    width: 25px;
    height: 25px;
    margin: auto;
    display: block;
}

/*上下单*/
.list_title {
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    background-color: #ECEEED;
    font-size: 14px;
    padding-left: 10px;
}

.listbox {
    background: #FFF;
    width: 100%;
    padding: 10px 10px 60px 10px;
}

.listbox .list {
    padding: 10px 0px 10px 90px;
    position: relative;
    overflow: hidden;
}

.list img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 10px;
}

.list p {
    font-size: 14px;
    height: 40px;
}

.list b {
    color: #c44965;
    font-size: 14px;
}

.down {
    float: right;
}

.down h3 {
    text-align: right;
    font-size: 12px;
    color: #F82048;
}

.putaway {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.putaway dl {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.putaway dt {
    width: 40%;
    float: left;
    text-align: center;
    background-color: #363636;
    color: #FFF;
}

.putaway dd {
    width: 60%;
    float: right;
    text-align: center;
    background-color: #F82048;
    color: #FFF;
}

/**头部**/
/**列表头部**/
.list_top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 81;
    background: url(../images/88.png) no-repeat;
    background-size: 100%;
}

.list_top dl {
    width: 95%;
    margin: auto;
}

.list_top dl dt {
    width: 100px;
    float: left;
    padding: 10px 0;
}

.list_top dl dt img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.list_top dl dd {
    width: 66%;
    float: left;
    padding-top: 20px;
    color: #FFF;
}

.list_top dl dd h4 {
    font-size: 15px;
    color: #FE4543;
}

.list_top dl dd p {
    font-size: 12px;
    padding-top: 5px;
}

.list_topv1 {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background-size: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #EDEDED;
}

.list_topv1 dl {
}

.list_topv1 dl dt {
    width: 50%;
    float: left;
    text-align: center;
    padding: 5px 0;
    border-bottom: 2px solid #FE4543;
}

.list_topv1 dl dt span {
    border-right: 1px solid #EDEDED;
    padding: 5px 0;
    display: block;
}

.list_topv1 dl dd {
    width: 49%;
    float: right;
    text-align: center;
    padding: 5px 0;
}

/**点击显示BOX**/
.show_box {
    width: 100%;
    position: fixed;
    border: #ebebeb solid 1px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #ffffff;
    box-shadow: 0px 0px 10px #ddd;
    z-index: 99999;
}

.close_box {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    top: -10px;
    background-color: #FFF;
    border-radius: 100px;
}

.close_box img {
    width: 25px;
    height: 25px;
}

.greens_box dl {
    width: 95%;
    margin: 10px auto;
}

.greens_box dl dt {
    width: 100px;
    float: left
}

.greens_box dl dt img {
    width: 80px;
    height: 50px;
}

.greens_box dl dd {
    width: 55%;
    float: left;
}

.greens_box dl dd h3 {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.greens_box dl dd span {
    font-size: 14px;
    color: #EF7922;
}

.btn_box {
    width: 100%;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    float: left;
}

.btn_box h4 {
    width: 95%;
    margin: auto;
    font-size: 14px;
    line-height: 30px;
}

.btn_box ul {
    width: 95%;
    margin: 0 auto 5px;
}

/*规格*/
.select_btn {
    margin-left: 30px;
    font-size: 14px;
    padding-bottom: 3px;
}

.select_btn .norm {
    position: relative;
    width: auto;
    height: 2rem;
    z-index: 1;
    line-height: 2rem;
    text-align: center;
    float: left;
    margin-right: 0px;
    padding: 2px 5px;
}

.select_btn .norm label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    width: auto;
    height: 2rem;
    z-index: 3;
    opacity: 0;
    margin: auto;
    display: inline-block;
    line-height: 3.9rem;
    cursor: pointer;
}

.select_btn input {
    display: inline-block;
    vertical-align: middle; /*让默认的单选样式的圆圈和相关的文本没有高差，看起来在同一水平线*/
    height: 1.5rem;
    line-height: 2.8rem;
    margin: 0; /*清除浏览器默认的外边距*/
}

.select_btn .norm .btn {

    width: auto;
    height: 1.5rem;
    z-index: 2;
    margin: auto;
    display: inline-block;
    line-height: 1.5rem;
    text-align: center;
    border: 1px solid #fe5454;
    color: #fe5454;
    padding: 2px 8px;
}

.select_btn .norm span {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;

}

.select_btn .norm span {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;

}

.select_btn .norm span.active {
    background-color: #fe5454;
    color: #fff;

}

.modified_box {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #E7E7E7;
}

.modified_box dl {
    width: 95%;
    margin: auto;
}

.modified_box dt {
    float: left;
    width: 50%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
}

.modified_box dd {
    float: right;
    width: 102px;
}

/**
.modified_box dd a{ width:25px; height:25px;font-size:20px; display:block;text-align:center; float:left;}
.modified_box dd input{ width:50px; height:25px;border:1px solid #989898;  border-bottom:none; border-top:none; float:left; text-align:center;}
**/
.text_box textarea {
    width: 100%;
    margin: 10px 0;
    height: 50px;
    line-height: 25px;
    text-indent: 10px;
    border: 1px solid #EEEEEE;
}

.affirm_box dl {
}

.affirm_box dl dt {
    width: 50%;
    float: left;
    text-align: center;
    background-color: #FF8854;
    color: #FFF;
    padding: 10px 0;
}

.affirm_box dl dd {
    width: 50%;
    float: left;
    text-align: center;
    background-color: #FE4543;
    color: #FFF;
    padding: 10px 0;
}

.affirm_boxv1 {
    text-align: center;
    padding: 10px 0;
    background-color: #FF8854;
}

.affirm_boxv1 a {
    color: #FFF;
}

/**遮罩盒子**/
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

/**遮罩盒子**/
.fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

/**菜没有图片**/

.nopic_box1 {
    padding-left: 5px;
    float: left;
    width: 60%;
}

.nopic_box1 .btn_v1 li {
    display: none;
    width: 20px;
    text-align: center;
    font-style: normal;
    vertical-align: top;
    margin-top: 11px;
    line-height: 18px;
}

.nopic_box {
}

.nopic_box .btn_v1 {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 45%;
    cursor: pointer;
    padding: 0px;
    height: 38px;
}

.nopic_box .btn_v1 button.minus {
    margin-right: -10px;
    display: none;
}

.nopic_box .btn_v1 button {
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    padding: 0;
}

.nopic_box .btn_v1 button strong {
    font-size: 15px;
    display: inline-block;
    text-indent: -100px;
    padding: 12px;
}

.nopic_box .btn_v1 button.minus strong {
    background: url(../icon/down.png) no-repeat;
    background-size: 25px 25px;
}

.nopic_box .btn_v1 i {
    display: none;
    width: 20px;
    text-align: center;
    font-style: normal;
    vertical-align: top;
    margin-top: 11px;
    line-height: 18px;
}

.nopic_box .btn_v1 button.addv1 {
    margin-left: -10px;
}

.nopic_box .btn_v1 button.addv1 strong {
    background: url(../icon/up.png) no-repeat right;
    background-size: 25px 25px;
}

.nopic_box .btn_v1 .price {
    display: none;
}

.nopic_box .but {
    position: absolute;
    top: 30px;
    right: 0;
    color: #868686;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    width: 40px;
    background: #e9e9e9;
    border-radius: 1rem;
    text-align: center;
    margin-top: 5px;
    border: none;
}

.data_box {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 100px;
    color: #FFF;
    background-color: #F32442;
    position: absolute;
    top: -2px;
    right: 5px;
    text-align: center;
}

.data_box span {
}

/**购物车加减**/
.gw_num {
    border: 1px solid #dbdbdb;
    width: 90px;
    line-height: 26px;
    overflow: hidden;
}

.gw_num em {
    display: block;
    height: 26px;
    width: 26px;
    float: left;
    color: #7A7979;
    border-right: 1px solid #dbdbdb;
    text-align: center;
    cursor: pointer;
}

.gw_num .num {
    display: block;
    float: left;
    text-align: center;
    width: 30px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    border: 0;
}

.gw_num em.gw_add {
    float: right;
    border-right: 0;
    border-left: 1px solid #dbdbdb;
}

/**按钮**/
.right_list .btn_v1 {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 45%;
    cursor: pointer;
    padding: 0px;
    height: 38px;
}

.right_list .btn_v1 button.index_minus {
    margin-right: -10px;
    display: none;
}

.right_list .btn_v1 button.index_minus strong {
    background: url(../icon/down.png) no-repeat;
    background-size: 25px 25px;
}

.right_list .btn_v1 button {
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    padding: 0;
    outline: none;
}

.right_list .btn_v1 button strong {
    font-size: 15px;
    display: inline-block;
    text-indent: -100px;
    padding: 12px;
}

.right_list .btn_v1 i {
    display: none;
    width: 20px;
    text-align: center;
    font-style: normal;
    vertical-align: top;
    margin-top: 11px;
    line-height: 18px;
}

.right_list .btn_v1 button.index_add {
    margin-left: -10px;
}

.right_list .btn_v1 button.index_add strong {
    background: url(../icon/up.png) no-repeat right;
    background-size: 25px 25px;
}

.right_list .btn_v1 .price {
    display: none;
}

.closing {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #FFF;
    box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
}

.closing dl {
}

.closing dl dt {
    width: 70%;
    float: left;
    padding: 5px 0;
}

.closing dl dt span {
    display: block;
}

.closing dl dd {
    width: 28%;
    float: right;
    line-height: 45px;
    text-align: center;
    background-color: #FE4543;
    font-size: 16px;
    color: #FFF;
}

.dt_box {
    float: left;
    position: relative;
    padding: 0 10px;
}

.dt_box img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.sum_box {
}

.sum_box span {
    font-size: 16px;
    color: #F32442;
}

.sum_box em {
    color: #666;
    font-size: 12px;
}

.sum_boxv1 span {
    font-size: 16px;
    color: #F32442;
    line-height: 35px;
}

.pop_box {
    width: 100%;
    position: fixed;
    border: #ebebeb solid 1px;
    left: 0;
    right: 0;
    display: none;
    bottom: 45px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #ddd;
    z-index: 99999;
}

.shut_box {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    top: -10px;
    background-color: #F00;
    border-radius: 100px;
}

.shut_box img {
    width: 25px;
    height: 25px;
}

/**购物车弹出**/
.cart_top {
    background-color: #F5F5F5;
}

.cart_top dl {
    padding: 10px 2.5%;
}

.cart_top dl dt {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #666;
}

.cart_top dl dd {
    width: 50%;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.cart_top dl dd img {
    padding: 0 5px;
}

.cart_top dl dt span {
    padding: 0 5px;
    color: #FE4543;
}

.cart_box {
    width: 100%;
    max-height: 350px;
    overflow: scroll;
}

.cart_box dl {
    padding: 10px 2.5%;
    position: relative;
    border-bottom: 1px solid #EDEDED;
}

.cart_box dl dt {
    width: 50%;
    float: left;
    font-size: 14px;
    color: #999;
}

.cart_box dl dd {
    width: 50%;
    float: right;
    font-size: 14px;
    color: #999;
}

.close_boxv1 {
    padding: 50px;
    width: 20px;
    float: right;
}

.close_boxv1 img {
    width: 20px;
    height: 20px;
}

.btn_v2 {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    padding: 0px;
    height: 38px;
}

.btn_v2 button.cart_minus {
    margin-right: -10px;
}

.btn_v2 button {
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    padding: 0;
}

.btn_v2 button strong {
    font-size: 15px;
    display: inline-block;
    text-indent: -100px;
    padding: 5px 10px;
    height: 12px;
}

.btn_v2 button.cart_minus strong {
    background: url(../icon/down.png) no-repeat;
    background-size: 20px 20px;
}

.btn_v2 i {
    width: 22px;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: top;
    margin-top: 11px;
    line-height: 18px;
}

.btn_v2 button.cart_add {
    margin-left: -10px;
}

.btn_v2 button.cart_add strong {
    background: url(../icon/up.png) no-repeat right;
    background-size: 20px 20px;
}

.btn_v2 .price {
    display: none;
}

/**店面详情**/
#box {
    max-width: 640px;
    min-width: 320px;
    margin: auto;
}

/* CSS Document */
/*导航：开始*/
.Favorites {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100000;
    max-width: 640px;
    min-width: 320px;
    background: #FFF;
    border-bottom: 1px solid #E0DFDF;
}

.Favorites ul {
    width: 100%;
    line-height: 50px;
}

.Favorites li {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 14px;
}

.Favorites .Font {
    font-size: 14px;
}

.Favorites li a {
    color: #F32442;
}

.Favorites p {
    float: left;
    width: 60%;
    text-align: center;
    color: #000;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*导航：结束*/

.nav_box {
}

.nav_box ul li {
    width: 33%;
    float: left;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #EDEDED;
    line-height: 40px;
}

.nav_box ul li span {
    height: 39px;
    display: block;
    line-height: 39px;
    border-bottom: 1px solid #FE4543;
}

.call_names {
    width: 100%;
}

.call_names dl {
    padding: 10px 0;
}

.call_names dt {
    width: 100px;
    float: left;
}

.call_names dt img {
    width: 90px;
    height: 90px;
}

.call_names dd {
    float: left;
    width: 68%;
}

.call_names dd h4 {
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.call_names dd div span {
    color: #FE4543;
}

.call_names dd em {
    display: block;
    /*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    */
}

.store_xq {
    padding: 0 2.5%;
}

.bj_div {
    background: url(../icon/right.png) no-repeat right;
    background-size: 20px 20px;
}

.store_xq div {
    font-size: 14px;
    padding: 5px 0;
}

.store_xq div img {
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.privilege {
    padding: 0 2.5%;
}

.privilege ul {
}

.privilege ul li {
    padding: 8px 0;
}

.privilege ul li span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    display: block;
    margin-right: 5px;
    float: left;
}

.navigate {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100000;
    max-width: 640px;
    min-width: 320px;
    background: #FFF;
    box-shadow: 0px 0px 20px #ddd;
}

.navigate ul {
}

.navigate ul li {
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
}

.navigate ul li img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

/**商品详情**/
/**商品详情**/

/*焦点图 开始*/
.main_visual {
    height: 250px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
}

.main_image {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.main_image ul {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 250px;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 250px
}

.main_image li span img {
    width: 100%;
    height: 250px;
}

.main_image li a {
    display: block;
    width: 100%;
    height: 300px
}

div.flicking_con {
    position: absolute;
    top: 85%;
    left: 15%;
    z-index: 999;
    width: 300px;
    height: 21px;
    margin: 0 0 0 -50px;

}

div.flicking_con a {
    float: left;
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    background: url('../images/btn_main_img.png') 0 0 no-repeat;
    display: block;
    text-indent: -1000px
}

div.flicking_con a.on {
    background-position: 0 -21px
}

a#btn_prev, a#btn_next {
    z-index: 11111;
    position: absolute;
    display: block;
    width: 73px !important;
    height: 74px !important;
    top: 50%;
    margin-top: -37px;
    display: none;
}

a#btn_prev {
    left: 100px;
}

a#btn_next {
    right: 100px;
}

.product {
    width: 100%;
    border-bottom: 1px solid #E0DFDF;
    margin-top: 10px;
}

.product h4 {
    width: 95%;
    margin: auto;
    font-weight: 100;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}

.product h5 {
    width: 95%;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    color: #FF3A46;
}

.product dl {
    width: 95%;
    margin: auto;
    height: 50px;
}

.product dl dt {
    width: 70%;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #FF4683;
}

.product dl dd {
    width: 30%;
    height: 40px;
    margin-top: 8px;
    float: right;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

.Business {
    width: 100%;
    border-bottom: 1px solid #E0DFDF;
}

.Business dl {
    width: 95%;
    margin: auto;
}

.Business dl dt {
    width: 70px;
    float: left;
    padding: 10px 0;
}

.Business dl dt img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.Business dl dd {
    width: 76.9%;
    float: left;
    padding-top: 15px;
}

.Business dl dd h4 {
    font-size: 16px;
    text-indent: 5px;
    font-weight: 300;
}

.Business dl dd p {
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stock_box {
    padding: 10px 2.5%;
    border-top: 1px solid #E0DFDF;
}

.stock_box span {
    padding-right: 30px;
    font-size: 14px;
    color: #979797;
}

/**切换**/
.Chika {
    width: 100%;
}

.Chikafusax {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #FFF;
    border-bottom: 1px solid #F4F4F4;
}

.Chikafusax a {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    color: #000;
    font-size: 14px;
}

.Chikafusax a.thisclass {
    text-decoration: none;
    color: #F32442;
    border-bottom: 2px solid #F32442;
}

/*购买记录*/
.record {
    width: 100%;
    padding-bottom: 53px;
}

.record dl {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #E0DFDF;
}

.record dl dt {
    width: 70px;
    float: left;
    padding: 10px 0;
}

.record dl dt img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.record dl dd {
    width: 76.9%;
    float: left;
    padding-top: 15px;
    font-size: 12px;
}

.record dl dd h4 {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 5px;
    font-weight: 200;
    text-overflow: ellipsis;
}

.record dl dd span {
    color: #999;
}

/*描述*/
.describe {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 60px;
}

.describe h4 {
    font-size: 14px;
    width: 95%;
    margin: auto;
}

.describe p {
    width: 95%;
    margin: auto;
    font-size: 12px;
    text-indent: 25px;
    padding-top: 5px;
    display: block;
}

.describe p img {
    width: 100%;
    margin: auto;
    display: block;
    padding: 5px 0;
}

/***导航隐藏显示**/
.hiddened {
    top: -102px;
}

.showed {
    top: 0;
    z-index: 81;
}

/***导航隐藏显示**/
.hiddened1 {
    top: 0px;
}

.showed1 {
    top: 102;
    z-index: 80;
}

.dishes {
    width: 90%;
}

.dishes p {
    width: 100%;
    border: 1px solid #F00;
}